MYSQL_USER=<tu_usuario>
MYSQL_PASSWORD=<tu_contraseña>
MYSQL_HOST=<host_de_mysql>
MYSQL_PORT=<puerto_de_mysql>
MYSQL_DB=<nombre_de_la_base_de_datos>

MP_ACCESS_TOKEN=<tu_token>

SECRET_KEY=<tu_secret_key>

BASE_URL=<la_url_de_tu_sitio>